.navigation-component {
  width: 100%;
  position: fixed;
  transition: background-color 2.5s ease-in;
  z-index: 99;

  &.mobile-nav-list-container {
    display: flex;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0.95;
    position: fixed;
  }

  &.mobile-nav-list-container .container {
    height: 100%;
  }  
  
  .mobile-nav-icon-toggle {
    padding: 1rem;
    display: inline-block;

    .toggle-icon { 
      color: $white;
      margin-bottom: 0;
      font-size: $h2;
      line-height: 1;
    }
  }

  .nav-mobile-display + .nav-section {
    display: none;
  } 
  
  .nav-mobile-display.show-nav + .nav-section {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    float: inherit;
    margin: 0;
    height: calc(100% - 2.4rem);
    padding: 0;
  }

  .mobile-nav-list .navigation-links {
    text-align: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .mobile-nav-list .navigation-links li:first-of-type {
    margin-top: -4.4rem;
  }
  .mobile-nav-list .navigation-links li {
    display: block;
    width: 100%;
    padding: 0;
    height: inherit;
  }

  .nav-section {
    @include grid-column(12);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .navigation-links {
    display: flex;
  }

  .nav-link:first-of-type {
    margin-right: auto;
  }

  .nav-link h4 {
    margin-bottom: 0;
  }
  .nav-link a {
    font-size: $h4;
  }

  .nav-link a {
    color: $white;
    text-decoration: none;
    font-family: $arvo, monospace;
  }
}
