.weather-component {
  .weather-data-container {
    background-color: white;
    position: relative;
    width: 100%;
    min-height: 20rem;

    @include grid-media($tablet-up) {
      margin: auto;
      width: 33rem;
      height: 22rem;
    }
  }

  .loading-weather {
    background-image: url('/images/misc/loading.gif');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center center;
    background-size: 50%;

    @include grid-media($tablet-up) {
      background-size: 25%;
    }
  }

  .weather-loader {
    bottom: 10%;
    color: $black;
    text-align: center;
    transition: 3s;
    position: absolute;
    width: 100%;
  }

  .weather-data-header,
  .weather-data-footer {
    float: left;
    display: block;
    width: 100%;
  }

  .weather-data-header {
    background-color: crimson;
    padding: 2rem 0;

    .weather-data-font {
      color: white;
    }
    
  }

  .weather-data-today {
    @include grid-column(12);
  }

  .weather-data-footer {
    .left-side {
      @include grid-column(4);
    }

    .right-side {
      @include grid-column(8);
    }
  }

  .weather-data-weekly-cast {
    li {
      float: left;
      width: 100%;
      padding: 1rem 0;
    }
  }
  
}
