.weather-component {
  .weather-data-container {
    background-color: white;
    position: relative;
    width: 100%;
    min-height: 20rem;

    &::after {
      clear: both;
      content: '';
      display: block;
    }

    @include grid-media($tablet-up) {
      margin: auto;
      width: 33rem;
      min-height: 20rem;    
    }

    @include grid-media($desktop-up) {
      width: 50rem;
    }
  }

  .loading-weather {
    background-image: url('/images/misc/loading.gif');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center center;
    background-size: 50%;

    @include grid-media($tablet-up) {
      background-size: 25%;
    }
  }

  .weather-loader {
    top: 50%;
    color: $black;
    text-align: center;
    transition: 3s;
    position: absolute;
    width: 100%;
    cursor: pointer;
  }

  .weather-data-header,
  .weather-data-footer {
    float: left;
    display: block;
    width: 100%;
  }

  .weather-data-header {
    background-color: crimson;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 15rem;
    display: flex;
    padding: 1rem;
    width: calc(100% - 2rem);
    transition: background-image 2s ease-in;

    .weather-data-font {
      color: white;
    }

    .weather-data-current-temp {
      font-size: 2rem;
    }

    @include grid-media($desktop-up) {
      height: 20rem;
    }
  }

  .weather-data-today {
    align-self: center;
    width: 100%;
  }

  .weather-data-footer {
    .day-of-the-week {
      @include grid-column(4);
    }

    .weather-info {
      @include grid-column(8);
    }

    .weather-info-temp {
      margin-bottom: .5rem;
    }
    .weather-info-temp-high {
      font-size: 1.25rem;
    }

    .weather-info-temp-low {
      font-size: .9rem;
    }

    @include grid-media($desktop-up) {
      .day-of-the-week,
      .weather-info {
        @include grid-column(12);
      }

      .weather-info p {
        padding-top: .7rem;

        &:last-of-type {
          padding-bottom: .7rem;
        }
      }
    }

  }

  .weather-data-weekly-cast {
    li {
      float: left;
      width: 100%;
      padding-top: 2rem;

      &:last-of-type {
        padding-bottom: 2rem;
      }

      @include grid-media($desktop-up) {
        width: (100%/7);
        padding-bottom: 2rem;
        text-align: center;
      }

    }
  }
  
}
