.weather-component {
  .weather-data-container {
    background-color: white;
    position: relative;
    width: 100%;
    height: 20rem;

    @include grid-media($tablet-up) {
      margin: auto;
      width: 33rem;
      height: 22rem;
    }
  }

  .loading-weather {
    background-image: url('/images/misc/loading.gif');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center center;
    background-size: 50%;

    @include grid-media($tablet-up) {
      background-size: 25%;
    }
  }

  .weather-loader {
    bottom: 10%;
    color: $black;
    text-align: center;
    transition: 3s;
    position: absolute;
    width: 100%;
  }
}
