.footer-component {
  transition: background-color 2s ease-in;

  .footer-section {
    @include grid-column(12);
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    @include grid-media($tablet-up) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  .flat-list li {
    padding-right: 1.5rem; 
  }

  .social-icon img {
    max-height: 1.5rem;
    max-width: 1.5rem;

    @include grid-media($tablet-up) {
      max-height: 32px;
      max-width: 32px;
    }
  }
  
}
