.footer-component {
  .footer-section {
    @include grid-column(12);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .flat-list li {
    padding-right: 1.5rem; 
  }
  .social-icon img {
    max-height: 32px;
    max-width: 32px;
  }
  
}
