h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-gray;
  @include h-letter-spacing();
}

h1,
h2,
h3,
h4 {
  font-family: $arvo, monospace;
}

h5,
h6 {
  @include body-default();
}

h1 {
  @include h1-size();
}

h2 {
  @include h2-size();
}

h3 {
  @include h3-size();
}

h4 {
  @include h4-size();
}


p,
a {
  @include body-default();
  font-family: $raleway, sans-serif;
  word-wrap: break-word;
  color: $dark-gray;
  line-height: 2;
}

p + p {
  text-indent: 0;
}
