.home-component {
  height: 100%;
  background-color: rgba(255,255,255, 1);
  transition: background-color 2s ease-in;

  .main-container {
    text-align: center;
  }
  
  .color-transition {
    transition: color 2s ease-in;
  }
}
