.home-component {
  height: 100%;
  .main-container {
    text-align: center;
  }
  .brand-logo {
    max-width: 7.5rem;
    margin-bottom: 1.5rem;
    transition: opacity 1s ease-in;
  }
  .main-container-header {
    margin: 1rem 0;
  }
  .color-transition {
    transition: color 1s ease-in;
  }
  .developer-tag {
    font-family: $raleway;
  }
}
