// colors
$black: #2A292D;
$dark-gray: #48474B;
$dark-green: #245C5C;
$dark-olive: #697F80;
$gray-olive: #E0E7DA;
$gray: #B7B7B8;
$teal: #0FD0C5;
$blue: #067ebd;
$white: white;
// $light-purple: rgba(109, 37, 123, 0.31);

// fonts
$raleway: 'Raleway';
$cutive: 'Cutive Mono';
