html {
  height: 100%;

  @media (max-width: 600px) {
    font-size: 16px;
  }
  @media (min-width: 600px) {
    font-size: 18px;
  }
}

body {
  height: 100%;
  margin: 0;
  background: #fdfdfd;
  transition: 1s;
}

h1,
h2,
h3 {
  font-family: 'Cutive Mono', monospace;
  margin: 0;
}

p,
ul,
ol,
a,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
