// helpers
.vertical-align {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.flat-list {
  li {
    display: inline-block;
    height: 100%;
    padding-right: 2rem;
  }

  &.right,
  &.center {
    li:last-of-type {
      padding-right: 0;
    }
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

}

.app-main {
  display: flex;
  min-height: 100%;
  flex-direction: column;

  .app-content {
    flex: 1;
  }
}
