html,
body {
  height: 100%;
}

body {
  font-family: $raleway, sans-serif;
  color: $dark-gray;
  font-size: 16px;
  
  @include grid-media($tablet-up) {
    font-size: 18px;
  }
}

input {
  height: calc(2.5rem - 0.5rem);
  width: calc(100% - 1rem);
  margin-top: 1rem;
  color: $dark-gray;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  font-family: $raleway;
  border: 0;

  &:focus {
    outline-color: $gray-olive;
  }
}
